<%# locals: (model: Evaluation.first, list: Question.all) %>
<div class="border-2 w-9/12 m-5 p-4 rounded-lg bg-footerGray">
  <div id="count">
    <%= render "questions/count", list: list %>
  </div>
  <div class="h-96 overflow-y-auto" id="questions">
    <% list.each do |item| %>
      <%= render "questions/question", question: item %>
    <% end %>
  </div>
</div>
