<footer>
  <ul class="flex justify-center gap-5 p-3 bg-footerGray text-sm font-semibold">
    <li>Privacy Police</li>
    <li>About</li>
    <li>Home</li>
    <li>Sign In</li>
    <li>Sign Up</li>
  </ul>
  <p class="text-center p-4 bg-main-color text-white">
    Survey Rails App @ 2023 | Cristian Ramírez
  </p>
</footer>
