<p class="text-surveyStrong bg-surveyStrong" hidden>.</p>
<% if @surveys.any? %>
  <%
=begin%>
 <%= render "surveys/surveys", list: @surveys, html_text: "", color: "surveyStrong" %> 
<%
=end%>
 <%= render "shared/sections/list", {
    list: @surveys,
    color: "surveyStrong",
    html_text: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem sit dolorum, <br>
      delectus praesentium voluptas quis assumenda? Recusandae ex illo nulla natus <br>
      accusantium dolorum aut? Aspernatur sapiente soluta unde ea aperiam?",
    list_item_partial: "surveys/survey"
  }%>
<% else %>
  <%= render "/shared/sections/welcome", {
    kind: "survey",
    image: { name: "4883612", width: 500 },
    color: "surveyStrong",
    container_css: "flex-col-reverse justify-center p-28",
    html_text: "      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque velit<br>
        consequuntur? Rerum neque saepe minus, alias nihil.",
    url: new_survey_path
  } %>
<% end %>
